
<h3>Home Component</h3>
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../../assets/img/téléchargement.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../../assets/img/téléchargement.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../../assets/img/téléchargement.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../../assets/img/téléchargement.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../../assets/img/téléchargement.jpg"></a>
</div>
<p>Welcome to Angular Seed</p>

<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.carousel').carousel(); // Move next n times.
        //toastDialog.dialog('Coucou', 10000, '')
    })
</script>
