<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Connexion au compte</span>
        <form (ngSubmit)="onSignIn(f)" #f="ngForm">
          <div class="form-group">
            <label for="email" data-error="wrong" data-success="right">Mail</label>
            <input type="email" id="email" name="email" ngModel class="validate" required>
          </div>
          <div class="form-group">
            <label for="password" data-error="wrong" data-success="right">Mot de passe</label>
            <input type="password" id="password" name="password" ngModel class="validate" required>
          </div>
          <button class="waves-effect waves-light btn" type="submit" [disabled]="!f.valid">Connexion</button>

        </form>
      </div>
    </div>
  </div>
</div>